########
#TEX####
########

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

########
#MATLAB#
########

# Windows default autosave extension
*.asv

# OSX default autosave extension
*.m~

# Not sure what this but ignore it 
*.db

#########
#QUARTUS#
#########
# Only need v, vhd, sdc, qsf, and qpf files to recreate a project locally
# Ignore anything else Quartus generates (this will probably need to be updated again at some point):
*/db/
*/incremental_db/
*.rpt
*.smsg
*.pin
*.sof
*.summary
*.done